@import "../../config";

#OutCompanyAdd-box {
    .radio-item {
        .marginBottom(5);
    }
    .DateArrRow {
        text-align: center;
        .select-css {
            width: 100%;
            border: solid 1px #c9c9c9;
            .heightSingle(26);
            .padding(1);
            .borderRadius(3);
            .fontSize(12);
        }
        .deleteText {
            color: red;
        }
        .operationText {
            color: #409EFF;
        }
    }
}
