@import "../../config";

#OutCompanyAdd-box {
    .radio-item {
        .marginBottom(5);
    }
    .DateArrRow {
        text-align: center;
        .select-css {
            width: 100%;
            .heightSingle(20);
            .lineHeight(20);
        }
        .deleteText {
            color: red;
        }
    }
}
